* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.container {
    width: 1200px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 15px;
}

header{
    height: 100px;
    padding: 15px 0;
}

.logo-container{
    display: inline-block;
    padding-right: 20px;
    border-right: 1px #ccc solid;
    height: 100%;
}

.logo-container img{
    height: 100%;
}


nav{
    padding: 20px;
    padding-left: 0px;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    margin-right: 20px;
    text-transform: uppercase;
}


nav ul li a {
    text-decoration: none;
    color: rgb(169, 169, 169);
}

nav ul li a:hover {
    text-decoration: underline;
}

.jumbotron{
    margin-top: 40px;
    height: 500px;
    background: url(img/banner.jpg) 50% 50%;
    background-size: cover;
    position: relative;
}

.textgray{
    color: rgb(169, 169, 169);
}


.br{
    border-radius: 15px;
    overflow: hidden;
}

.leadertitle{
    margin-top: 40px;
    font-size: 36px;
}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.2;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.jumbotron-content{
    color: white;
    position: absolute;
    bottom: 60px;
    left: 50px;
    width: 50%;
    z-index: 2;
}

.text{
    color: white;
    width: 800px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 20;
    display: inline;
}

main{
    width: 1200px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 15px;
}

.row{
    padding-top: 40px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.col-center{
    width: 60%;
    padding: 0 15px;
}

.col-right, .col-left{
    width: 20%;
}

/* .col-content{
    height: 200px;
    background-color: purple;
}  */

.col-img{
    height: 200px;
    position: relative;
    margin-bottom: 20px;
}

.col-img-1{
    background: url(img/img-1.jpg);
    background-size: cover;
}

.col-img-2{
    background: url(img/banner-2.jpg);
    background-size: cover;
    background-position: 50% 50%;
}


.col-img-3{
    background: url(img/img-3.jpg) 50% 50%;
    background-size: cover;
}


.col-content h3{
    font-size: 16px;
}