* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.container {
    width: 1200px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 15px;
}

header{
    border-right: 1px solid;
    display: inline-block;
}

.logo{
    width: 250px;
    padding-right: 20px;
    padding-bottom: 20px;
}

nav{
    padding: 20px;
    padding-left: 0px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    /* margin-right: 8px; */
}

nav ul li a {
    text-decoration: none;
    padding: 0 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.banner1{
    width: auto;
    height: 500px;
    background-image: url(img/banner.jpg);
    filter: brightness(50%);
    padding: 50px;
    margin: 50px;
    position: relative;
    border-radius: 15px;
}

.text{
    color: white;
    width: 800px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 20;
    display: inline;
}

main{
    width: 1200px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 15px;
}


.fl{
    float: left;
}

.col-left{
    width: 20%;
}

.col-center{
    width: 60%;
    padding: 0 20px;
}

.col-right{
    width: 20%;
}

.col-content {
    height: 100px;
}


.row{
    padding-top: 40px;
}


.infoim{
    filter: brightness(50%);
    border-radius: 15px;
}


.lxtext, .centertext, .dxtext {
    padding-top: 20px;
}


.banner2{
    display: block;
    margin-left: auto;
    margin-right: 60px;
    width: 50%;
    height: 300px;
    width: 500px;
}

.centertext{
    text-align: left;
    padding-left: 120px;
    padding-right: 80px;
}

.im3{
    width: 300px;
    height: 300px;
    object-fit: cover;
}